ion-content {
    --background: url(../../../../assets/imgs/chat-bgd.jpg) 0 0/100% 100%;
}

.header {
    height: 80px;
}

.send {

    font-size: 24px;
    align-items: center;
    text-align: center;
    padding-top: 13%;
    padding-left: 13%;

}

.input {

    background: var(--ion-color-light);
    --padding-start: 10px;
    border-radius: 50px;

}

.received-message {

    // background: var(--ion-color-primary);
    // padding: 2%;
    // margin: 5%;
    // border-bottom-left-radius: 10%;
    // border-bottom-right-radius: 10%;
    // border-top-left-radius: 10%;
    // border-top-right-radius: 10%;

    transition: all 250ms ease-in-out;
    //float: left;
    //clear: both;
    overflow: hidden;
    background: var(--ion-color-primary);
    //display: inline-block;
    color: white;
    padding: 4%;
    //position: absolute;
    //left: 3%;
    //margin-left: 3%;

    border-radius: 20px;
    border-bottom-left-radius: 10px;
    text-align: left;
    max-width: 80%;
    min-width: 10%;
    width: fit-content;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --color-hover: #DDDDDD;
    --color-activated: white;

}


.sent-message {
    
    transition: all 250ms ease-in-out;
    overflow: hidden;
    background: var(--ion-color-tertiary);
    max-width: 80%;
    min-width: 10%;
    width: fit-content;
    color: white;
    padding: 4%;
    border-radius: 20px;
    //text-align: right;
    border-bottom-right-radius: 10px;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --color-hover: #DDDDDD;
    --color-activated: white;
    
}

.col {

    padding: 0px;

}

.date {

    transition: all 250ms ease-in-out; 
    max-width: 80%;
    width: fit-content;
    color: white;
    text-align: left;
    margin-bottom: 5%;
    display: inline-block;
    text-transform: none;
    font-size: 9px;
    text-align: right;
    //font-weight: 400;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --color-hover: #DDDDDD;
    --color-activated: white;

}


.title {
    text-transform: none;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    // padding-right: 5%;
    // padding-top: 5%;
    // display: flex;
    width: fit-content;
    // min-height: 100vh; 
}

.empty {

    text-transform: none;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    // padding-right: 5%;
    // padding-top: 5%;
    // display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    // min-height: 100vh;
}