.main {

    margin-left: 1%;
    margin-right: 1%;
    padding: 0%;

}

.profile {


    border-radius: 50%;
    border: 0.5px solid #000000;

}

.grid {

    width: 100%;

}

.cell-class {
    // border-color: black; 
    // border-width: .01em; 
    // border-style:solid; margin-bottom : -1px;
    // background-color: lightgrey;
    padding: 0.8%;

}

.owner_label {

    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --color-hover: #DDDDDD;
    --color-activated: white;
    padding-left: 5%;
    padding-top: 7%;

}