<ion-card *ngIf="session_user != undefined">


  <ion-card-header class="header unselectable">
    <ion-card-subtitle>

      <!-- Profile -->
      <img [src]="session_user.picture" onerror="this.src='../../../../assets/icon/profile-default.png'"
        class="profile unselectable">

      <!-- Username -->
      <div class="owner_label unselectable">{{session_user.username}}</div>

      <!-- Date -->
      <ion-text class="date unselectable">
        Now
      </ion-text>


    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="body unselectable">

    <ion-grid class="grid unselectable">
      <ion-row>
        <ion-col>

          <!-- Text Thoughts -->
          <div *ngIf="type == 0">
            <ion-input text-wrap class="content unselectable" [(ngModel)]="content" (ionChange)="contentEmitter.emit(content)"
              placeholder="Hello Friends...">
            </ion-input>
          </div>

          <div *ngIf="type == 1">
            <div (click)="addImage()">
              <img class="picture unselectable" [src]="'data:image/png;base64,' + media" onerror="this.src='../../../../assets/imgs/image-placeholder.png'">
            </div>
          </div>

          <!-- Poll Thoughts -->
          <div *ngIf="type == 3">
            <ion-input text-wrap class="content unselectable" [(ngModel)]="content" (ionChange)="contentEmitter.emit(content)"
              placeholder="Hello Friends...">
            </ion-input>
            <app-poll-block (subjectEvent)="poll1Emitter.emit($event)" [is_modifiable]="true" [progress]="0"
              [subject]="''">
            </app-poll-block>
            <app-poll-block (subjectEvent)="poll2Emitter.emit($event)" [is_modifiable]="true" [progress]="0"
              [subject]="''">
            </app-poll-block>
            <app-poll-block (subjectEvent)="poll3Emitter.emit($event)" [is_modifiable]="true" [progress]="0"
              [subject]="''">
            </app-poll-block>
            <app-poll-block (subjectEvent)="poll4Emitter.emit($event)" [is_modifiable]="true" [progress]="0"
              [subject]="''">
            </app-poll-block>
            <ion-text class="voters unselectable">0 Voters</ion-text>
          </div>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

          <!-- Opinions button -->
          <div class="action unselectable">
            <ion-icon name="chatbubble-outline" style="font-size: 20px;"></ion-icon>
          </div>

          <!-- Opinions Counter -->
          <div class="action_label unselectable" style="font-size: 10px;">0</div>

          <!-- Likes Button -->
          <div class="action unselectable">
            <ion-icon name="diamond-outline" style="font-size: 20px;">
            </ion-icon>
          </div>

          <!-- Likes Counter -->
          <div class="action_label unselectable" style="font-size: 10px;">0</div>

          <!-- Platons Button -->
          <div class="action unselectable">
            <ion-icon name="repeat-outline" style="font-size: 20px;"></ion-icon>
          </div>
          <!-- Platons counter -->
          <div class="action_label unselectable" style="font-size: 10px;">0</div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>