<ion-content>

  <!-- Thought Area -->
  <app-edit-card-thought (contentEmitter)="content = $event" (poll1Emitter)="poll1 = $event"
    (poll2Emitter)="poll2 = $event" (poll3Emitter)="poll3 = $event" (poll4Emitter)="poll4 = $event" class="post"
    [type]="type">
  </app-edit-card-thought>

  <ion-grid class="section">
    <ion-row>
      <ion-col>

        <ion-fab-button (click)="setType(0)" [color]="type == 0 ? 'tertiary' : 'light'">
          <ion-icon name="document-text-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>

        <ion-fab-button (click)="setType(1)" [color]="type == 1 ? 'tertiary' : 'light'">
          <ion-icon name="image-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>

        <ion-fab-button (click)="setType(2)" [color]="type == 2 ? 'tertiary' : 'light'">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col>
        <ion-fab-button (click)="setType(3)" [color]="type == 3 ? 'tertiary' : 'light'">
          <ion-icon name="podium-outline"></ion-icon>
        </ion-fab-button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Posting button -->
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button color="primary" (click)="post()" [disabled]="content == undefined ? true : content.length < 3">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>