ion-content {
    --background: url(../../../../assets/imgs/main-bg0.png) 0 0/100% 100%;
}

.toolbar {

    margin-top: 5%;

}
.chat {

    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 3%;
    margin-right: 3%;

}