ion-header {
    background: white;
}

.header {

    //width: 100%;
    background: var(--ion-color-tertiary);
    height: 120px;
    


}

.name_label {

    position: fixed;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

.friends_label {

    position: fixed;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: light;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgrey;
    --background: #00000000;
    --background-hover: #00000000;
    --background-activated: #00000000;
    --color-hover: #DDDDDD;
    --color-activated: white;

}

.content {

    font-size: 11px;
    font-weight: light;
    --padding-start: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --badding-end: 0px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;

}

.extra_label {

    position: fixed;
    top: 7.5%;
    right: 5.5%;

}



.profile {

    width: 15%;
    border-radius: 50%;
    position: fixed;
    top: 8%;
    left: 7.5%;
    background-color: #00000000;
    --background: #00000000;
    --background-hover: #00000000;
    --background-activated: #00000000;

}