<ion-content *ngIf="!disabled">

  

  <p class="welcome_text">Reset<br>Password</p>
  <ion-button fill="clear" (click)="goToLogin()" class="signin_button">
    Sign in?
  </ion-button>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onSubmit()" [disabled]="verification == '' || password == '' || !ready">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <p class="signup_label">Sign In</p>

  <ion-grid class="inputs-grid">
    <ion-row *ngIf="!ready">
      <ion-col>
        <ion-item counter="true" class="inputs">
          <!-- <ion-label position="floating">Email</ion-label> -->
          <ion-input name="verification" [(ngModel)]="email" placeholder="Email"></ion-input>
          <ion-button (click)="send()" fill="clear" slot="end" class="send">Send</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="ready">
      <ion-col>
        <ion-item counter="true" class="inputs">
          <ion-label position="floating">Verification code</ion-label>
          <ion-input name="verification" [(ngModel)]="verification" placeholder="123456"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item counter="true" class="inputs">
          <ion-label position="floating">Password</ion-label>
          <ion-input name="passowrd" [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item counter="true" class="inputs">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input name="password" type="password" [(ngModel)]="confirm"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-progress-bar color="secondary" *ngIf="loading" type="indeterminate"></ion-progress-bar>
</ion-footer>