.section_labels {

    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.friends_labels {

    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --background: #00000000;
    --background-hover: #00000000;
    --background-activated: #00000000;
    --color-hover: #DDDDDD;
    --color-activated: white;

}

.profile {

    border-radius: 50%;
    border: 1px solid #000000;

}

ion-item {
    --padding-start: 0;
  }