<ion-header>
  <ion-toolbar>

    <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" color="secondary" name="arrow-back"></ion-icon>
    </ion-button>


  </ion-toolbar>
</ion-header>

<ion-content *ngIf="followings != undefined && followers != undefined">

  <ion-segment value="default" mode="md" color="secondary" [(ngModel)]="section">
    <ion-segment-button value="default">
      <ion-label class="section_labels">Followings</ion-label>
    </ion-segment-button>
    <ion-segment-button value="followers">
      <ion-label class="section_labels">Followers</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="section">
    <ion-list *ngSwitchCase="'default'">
      <div *ngFor="let user of followings">
        <app-user-card [user]="user"></app-user-card>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'followers'">
      <div *ngFor="let user of followers">
        <app-user-card [user]="user"></app-user-card>
      </div>
    </ion-list>
  </div>

</ion-content>