<div (click)="answerPoll()" class="progress-outer">
  <div class="progress-container">
    <div class="progress-inner" [style.border-top-right-radius]="is_alone ? '20px' : '0px'"
      [style.border-bottom-right-radius]="is_alone ? '20px' : '0px'"
      [style.background-color]="is_max ? 'var(--ion-color-secondary)' : 'var(--ion-color-primary)'"
      [style.width]="progress + '%'"></div>
    <ion-text class="progress-inner-label" [style.margin-left]="(-progress + 5) + '%'">{{progress}}%</ion-text>


    <ion-input *ngIf="is_modifiable; else feed" [placeholder]="'Option'" (ionChange)="emitSubject($event)" class="progress-inner-input"
      [value]="subject"></ion-input>
    <ng-template #feed>
      <ion-text class="progress-inner-text">{{subject}}</ion-text>
    </ng-template>

    <ion-icon *ngIf="is_voted" class="progress-inner-check" name="checkmark-circle-outline"></ion-icon>

  </div>
</div>