ion-content {
    --background: url(../../assets/imgs/main-bg3.png) 0 0/100% 100%;
}

.name_label {

    position: fixed;
    top: 7.5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

.friends_label {

    position: fixed;
    top: 12.5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: light;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgrey;
    --background: #00000000;
    --background-hover: #00000000;
    --background-activated: #00000000;
    --color-hover: #DDDDDD;
    --color-activated: white;

}

.profile {

    width: 20%;
    border-radius: 50%;
    position: fixed;
    top: 7.5%;
    left: 7.5%;

}