<ion-header class="header">

  <ion-button style="margin-top: 6%;" fill="clear" (click)="goBack()">
    <ion-icon slot="icon-only" color="secondary" name="arrow-back"></ion-icon>
  </ion-button>

  <p class="name_label">Edit Profile</p>

  <div (click)="uploadProfile()">
    <img [src]="picture" onerror="this.src='../../../../assets/icon/profile-default.png'" class="profile">
  </div>

</ion-header>

<ion-content>

  <ion-progress-bar color="secondary" *ngIf="uploading" type="indeterminate"></ion-progress-bar>
  <ion-grid class="inputs_grid">
    <ion-row>
      <ion-col>
        <ion-item counter="true" class="inputs">
          <ion-input name="username" [(ngModel)]="username" placeholder="Username"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item counter="true" class="inputs">
          <ion-input name="email" [(ngModel)]="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item counter="true" class="inputs">
          <ion-input name="birthday" type="date" [(ngModel)]="birthday"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list class="inputs">
          <ion-item fill="clear">
            <ion-select (ionChange)="setGender($event)" interface="popover" [placeholder]="genders[gender!]">
              <ion-select-option class="inputs" *ngFor="let gender of genders" [value]="gender">{{gender}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onEdit()" [disabled]="uploading">
      <ion-icon name="arrow-forward-outline">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>