<ion-card *ngIf="thought != undefined && user != undefined && session_user != undefined">


  <ion-card-header class="header">
    <ion-card-subtitle>

      <!-- Profile -->
      <img [src]="user.picture" onerror="this.src='http://localhost/Platonia/Server/assets/users/0/profile.png'"
        class="profile">

      <!-- Username -->
      <div class="owner_label">{{user.username}}</div>

      <!-- Date -->
      <ion-text class="date">
        {{date}}
      </ion-text>

    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="body">
    <ion-grid class="grid">
      <ion-row>
        <ion-col>

          <!-- Text Thoughts -->

          <!-- Edit Mode -->
          <ion-input *ngIf="editable; else feed" text-wrap class="content" [(ngModel)]="thought.content"
            placeholder="Hello Friends..."></ion-input>

          <!-- Feed Mode -->
          <ng-template #feed>
            <ion-text class="content">{{thought.content}}</ion-text>
          </ng-template>

          <!-- Poll Thoughts -->

          <!-- Edit Mode -->

          <!-- Feed Mode -->
          <div *ngIf="thought.type == 3">
            <app-poll-block (incrementer)="incrementPoll(1)" (subjectEvent)="updatePollSubject($event, 1)"
              [is_max]="max_index == 1"
              [is_alone]="thought.votes1! != 0 && thought.votes2! == 0 && thought.votes3! == 0 && thought.votes4! == 0"
              [is_voted]="thought.option_chosen == 1" [is_modifiable]="editable!"
              [progress]="round((thought.votes1! * 100) / (thought.votes! == 0 ? 1 : thought.votes!))"
              [subject]="thought.poll1!">
            </app-poll-block>
            <app-poll-block (incrementer)="incrementPoll(2)" (subjectEvent)="updatePollSubject($event, 2)"
              [is_max]="max_index == 2"
              [is_alone]="thought.votes1! == 0 && thought.votes2! != 0 && thought.votes3! == 0 && thought.votes4! == 0"
              [is_voted]="thought.option_chosen == 2" [is_modifiable]="editable!"
              [progress]="round((thought.votes2! * 100) / (thought.votes! == 0 ? 1 : thought.votes!))"
              [subject]="thought.poll2!">
            </app-poll-block>
            <app-poll-block (incrementer)="incrementPoll(3)" (subjectEvent)="updatePollSubject($event, 3)"
              [is_max]="max_index == 3"
              [is_alone]="thought.votes1! == 0 && thought.votes2! == 0 && thought.votes3! != 0 && thought.votes4! == 0"
              [is_voted]="thought.option_chosen == 3" [is_modifiable]="editable!"
              [progress]="round((thought.votes3! * 100) / (thought.votes! == 0 ? 1 : thought.votes!))"
              [subject]="thought.poll3!">
            </app-poll-block>
            <app-poll-block (incrementer)="incrementPoll(4)" (subjectEvent)="updatePollSubject($event, 4)"
              [is_max]="max_index == 4"
              [is_alone]="thought.votes1! == 0 && thought.votes2! == 0 && thought.votes3! == 0 && thought.votes4! != 0"
              [is_voted]="thought.option_chosen == 4" [is_modifiable]="editable!"
              [progress]="round((thought.votes4! * 100) / (thought.votes! == 0 ? 1 : thought.votes!))"
              [subject]="thought.poll4!">
            </app-poll-block>
            <ion-text class="voters">{{thought.votes}} Voters</ion-text>
          </div>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

          <!-- Opinions button -->
          <div class="action">
            <ion-icon name="chatbubble-outline" style="font-size: 20px;"></ion-icon>
          </div>

          <!-- Opinions Counter -->
          <div class="action_label" style="font-size: 10px;">{{thought.opinions}}</div>

          <!-- Likes Button -->
          <div (click)="like()" class="action">
            <ion-icon [color]="thought.is_liked ? 'danger' : ''" name="diamond-outline" style="font-size: 20px;">
            </ion-icon>
          </div>

          <!-- Likes Counter -->
          <div (click)="setLikesOpen(true)" class="action_label" style="font-size: 10px;">{{thought.likes}}</div>

          <!-- Platons Button -->
          <div class="action">
            <ion-icon name="repeat-outline" style="font-size: 20px;"></ion-icon>
          </div>
          <!-- Platons counter -->
          <div class="action_label" style="font-size: 10px;">{{thought.platons}}</div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!-- Likes list -->
<ion-modal [isOpen]="isLikesOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Likes</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setLikesOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ng-container *ngFor="let like of likes">
        <app-user-card [user]="like"></app-user-card>
      </ng-container>
    </ion-content>
  </ng-template>
</ion-modal>