.owner_label {

    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --color-hover: #DDDDDD;
    --color-activated: white;
    float: left;
    padding-left: 5%;
    padding-top: 3%;

}

.empty {

    text-transform: none;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    // padding-right: 5%;
    // padding-top: 5%;
    // display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    // min-height: 100vh;
}

.date {

    text-transform: none;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    color: lightgray;
    padding-right: 5%;
    padding-top: 5%;

}

.hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
}

.alert-button {

    color: var(--ion-color-danger);

}

.send {

    font-size: 24px;
    align-items: center;
    text-align: center;
    padding-top: 10%;

}

.option {

    color: lightgray;
    text-transform: none;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    margin-left: -5%;
    padding-bottom: 1%;

}

.picture {

    border-radius: 10px;

}

.body {

    padding-top: 2.5%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    clear: both;


}

.header {

    padding-left: 3%;
    padding-right: 3%;

}

.voters {
    width: 96%;
    //margin: 10px 2%;
    //padding: 3px;
    text-align: center;
    font-size: 12px;
    //color: #fff;
    border-radius: 20px;
}

.action {

    // padding-top: 5%;
    // padding-bottom: 2%;
    padding-right: 2.5%;
    float: left;

}

.action_label {

    padding-top: 2.5%;
    padding-right: 7.5%;
    margin: 0%;
    float: left;
    user-select: none;
    font-size: 10px;

}

.grid {

    padding: 0px;

}

.unselectable {

    user-select: none;

}

.content {

    min-height: 45px;
    //color: black;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.profile {

    width: 20%;
    border-radius: 50%;
    border: 0.5px solid #000000;
    float: left;

}