<ion-card *ngIf="!deleted && thought != undefined && user != undefined && session_user != undefined">


  <ion-card-header class="header">
    <ion-card-subtitle class="retweet-header" *ngIf="thought.type == 4">

      <ion-icon class="retweet-icon unselectable" name="repeat-outline"></ion-icon>
      <ion-text class="retweet-text unselectable">{{user.username}} retweeted this...</ion-text>

    </ion-card-subtitle>
    <ion-card-subtitle>

      <!-- Raw Thoughts -->
      <div *ngIf="thought.type != 4">

        <!-- Profile -->
        <img (click)="openProfile()" [src]="user.picture" onerror="this.src='../../../../assets/icon/profile-default.png'"
          class="unselectable profile">

        <!-- Username -->
        <div (click)="openProfile()" class="unselectable owner_label">{{user.username}}</div>

        <!-- Options -->
        <ion-button *ngIf="session_user.user_id == user.user_id" (click)="openOptions()" fill="clear" class="option">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </div>

      <!-- Platoned Thoughts -->
      <div *ngIf="thought.type == 4">
        <!-- Profile -->
        <img [src]="original?.picture" onerror="this.src='../../../../assets/icon/profile-default.png'"
          class="unselectable profile">

        <!-- Username -->
        <div class="unselectable owner_label">{{original?.username}}</div>
      </div>

      <!-- Date -->
      <ion-text class="unselectable date">
        {{date}}
      </ion-text>


    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="body">


    <!-- Options Tab -->
    <ion-popover #options [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>

            <!-- Delete thought -->
            <ion-item [button]="true" [detail]="false" (click)="delete()">
              <ion-icon [style.margin-right]="2 + '%'" color="danger" name="trash-bin-outline"></ion-icon>
              <ion-text color="danger">Delete Thought</ion-text>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>


    <ion-grid class="grid">
      <ion-row>
        <ion-col>

          <!-- Text Thoughts -->
          <div *ngIf="thought.type == 0">

            <ion-text class="unselectable content">{{textThought.content}}</ion-text>

          </div>

          <!-- Image Thoughts -->
          <div *ngIf="thought.type == 1">

            <img class="unselectable picture" [alt]="imageThought.img"
              [src]="'http://platoniadb.000webhostapp.com/Server/assets/thoughts/' + imageThought.thought_id + '/img-src.png'"
              onerror="this.src='../../../../assets/icon/profile-default.png'" />

          </div>

          <!-- Poll Thoughts -->
          <div *ngIf="thought.type == 3">

            <ion-text class="unselectable content">{{pollThought.prompt}}</ion-text>

            <app-poll-block (incrementer)="pollThought.answerPoll(1, session_user.user_id, optionService)"
              (subjectEvent)="pollThought.updatePollSubject(1, $event)" [is_max]="pollThought.getMaxPosition() == 1"
              [is_alone]="pollThought.isSingleValued()" [is_voted]="pollThought.option_chosen == 1"
              [is_modifiable]="false" [progress]="pollThought.votes1_percentage" [subject]="pollThought.poll1">
            </app-poll-block>
            <app-poll-block (incrementer)="pollThought.answerPoll(2, session_user.user_id, optionService)"
              (subjectEvent)="pollThought.updatePollSubject(2, $event)" [is_max]="pollThought.getMaxPosition() == 2"
              [is_alone]="pollThought.isSingleValued()" [is_voted]="pollThought.option_chosen == 2"
              [is_modifiable]="false" [progress]="pollThought.votes2_percentage" [subject]="pollThought.poll2">
            </app-poll-block>
            <app-poll-block (incrementer)="pollThought.answerPoll(3, session_user.user_id, optionService)"
              (subjectEvent)="pollThought.updatePollSubject(3, $event)" [is_max]="pollThought.getMaxPosition() == 3"
              [is_alone]="pollThought.isSingleValued()" [is_voted]="pollThought.option_chosen == 3"
              [is_modifiable]="false" [progress]="pollThought.votes3_percentage" [subject]="pollThought.poll3">
            </app-poll-block>
            <app-poll-block (incrementer)="pollThought.answerPoll(4, session_user.user_id, optionService)"
              (subjectEvent)="pollThought.updatePollSubject(4, $event)" [is_max]="pollThought.getMaxPosition() == 4"
              [is_alone]="pollThought.isSingleValued()" [is_voted]="pollThought.option_chosen == 4"
              [is_modifiable]="false" [progress]="pollThought.votes4_percentage" [subject]="pollThought.poll4">
            </app-poll-block>
            <ion-text class="unselectable voters">{{pollThought.totalVotes}} Voters</ion-text>
          </div>

          <!-- Platoned Thoughts -->
          <div *ngIf="thought.type == 4">

            <div *ngIf="platonedThought.root.type == 0">

              <ion-text class="unselectable content">{{platonedText.content}}</ion-text>

            </div>

            <!-- Image Thoughts -->
            <div *ngIf="platonedThought.root.type == 1">

              <img class="unselectable picture" [alt]="platonedImage.img"
                [src]="'http://localhost/Platonia/Server/assets/thoughts/' + platonedImage.thought_id + '/img-src.png'"
                onerror="this.src='../../../../assets/icon/profile-default.png'" />

            </div>

            <!-- Poll Thoughts -->
            <div *ngIf="platonedThought.root.type == 3">

              <ion-text class="unselectable content">{{platonedPoll.prompt}}</ion-text>

              <app-poll-block (incrementer)="platonedPoll.answerPoll(1, session_user.user_id, optionService)"
                (subjectEvent)="platonedPoll.updatePollSubject(1, $event)" [is_max]="platonedPoll.getMaxPosition() == 1"
                [is_alone]="platonedPoll.isSingleValued()" [is_voted]="platonedPoll.option_chosen == 1"
                [is_modifiable]="false" [progress]="platonedPoll.votes1_percentage" [subject]="platonedPoll.poll1">
              </app-poll-block>
              <app-poll-block (incrementer)="platonedPoll.answerPoll(2, session_user.user_id, optionService)"
                (subjectEvent)="platonedPoll.updatePollSubject(2, $event)" [is_max]="platonedPoll.getMaxPosition() == 2"
                [is_alone]="platonedPoll.isSingleValued()" [is_voted]="platonedPoll.option_chosen == 2"
                [is_modifiable]="false" [progress]="platonedPoll.votes2_percentage" [subject]="platonedPoll.poll2">
              </app-poll-block>
              <app-poll-block (incrementer)="platonedPoll.answerPoll(3, session_user.user_id, optionService)"
                (subjectEvent)="platonedPoll.updatePollSubject(3, $event)" [is_max]="platonedPoll.getMaxPosition() == 3"
                [is_alone]="platonedPoll.isSingleValued()" [is_voted]="platonedPoll.option_chosen == 3"
                [is_modifiable]="false" [progress]="platonedPoll.votes3_percentage" [subject]="platonedPoll.poll3">
              </app-poll-block>
              <app-poll-block (incrementer)="platonedPoll.answerPoll(4, session_user.user_id, optionService)"
                (subjectEvent)="platonedPoll.updatePollSubject(4, $event)" [is_max]="platonedPoll.getMaxPosition() == 4"
                [is_alone]="platonedPoll.isSingleValued()" [is_voted]="platonedPoll.option_chosen == 4"
                [is_modifiable]="false" [progress]="platonedPoll.votes4_percentage" [subject]="platonedPoll.poll4">
              </app-poll-block>
              <ion-text class="unselectable voters">{{platonedPoll.totalVotes}} Voters</ion-text>
            </div>

          </div>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

          <!-- Platoned thoughts -->
          <div *ngIf="thought.type == 4">

            <!-- Opinions button -->
            <div (click)="setOpinionsOpen(true)" class="action">
              <ion-icon name="chatbubble-outline" style="font-size: 20px;"></ion-icon>
            </div>

            <!-- Opinions Counter -->
            <div class="action_label">{{platonedThought.root.opinions}}</div>

            <!-- Likes Button -->
            <div (click)="platonedThought.root.toggleLike(likeService, storageService)" class="action">
              <ion-icon [color]="platonedThought.root.is_liked ? 'danger' : ''" name="diamond-outline"
                style="font-size: 20px;">
              </ion-icon>
            </div>

            <!-- Likes Counter -->
            <div (click)="setLikesOpen(true)" class="action_label">{{platonedThought.root.likes}}</div>

            <!-- Platons Button -->
            <div (click)="togglePlaton()" class="action">
              <ion-icon [color]="platonedThought.root.is_platoned ? 'secondary' : ''" name="repeat-outline"
                style="font-size: 20px;">
              </ion-icon>
            </div>
            <!-- Platons counter -->
            <div class="action_label">{{platonedThought.root.platons}}</div>

          </div>

          <!-- Raw thoughts -->
          <div *ngIf="thought.type != 4">
            <!-- Opinions button -->
            <div (click)="setOpinionsOpen(true)" class="action">
              <ion-icon name="chatbubble-outline" style="font-size: 20px;"></ion-icon>
            </div>

            <!-- Opinions Counter -->
            <div class="action_label">{{thought.opinions}}</div>

            <!-- Likes Button -->
            <div (click)="thought.toggleLike(likeService, storageService)" class="action">
              <ion-icon [color]="thought.is_liked ? 'danger' : ''" name="diamond-outline" style="font-size: 20px;">
              </ion-icon>
            </div>

            <!-- Likes Counter -->
            <div (click)="setLikesOpen(true)" class="action_label">{{thought.likes}}</div>

            <!-- Platons Button -->
            <div (click)="togglePlaton()" class="action">
              <ion-icon [color]="thought.is_platoned ? 'secondary' : ''" name="repeat-outline" style="font-size: 20px;">
              </ion-icon>
            </div>
            <!-- Platons counter -->
            <div class="action_label">{{thought.platons}}</div>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!-- Likes list -->
<ion-modal [isOpen]="isLikesOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Likes</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setLikesOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ng-container *ngFor="let like of likes">
        <app-user-card [user]="like"></app-user-card>
      </ng-container>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Opinions list -->
<ion-modal [backdropDismiss]="false" [isOpen]="isOpinionsOpen">
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>Opinions</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpinionsOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-button fill="clear" class="empty" *ngIf="opinions.length == 0">
        Be the first to express
        <ion-icon slot="end" name="diamond-outline"></ion-icon>
      </ion-button>
      <div *ngFor="let opinion of opinions">
        <div style="margin-top: 3%; margin-bottom: 3%;">
          <app-opinion-card (delete)="deleteComment($event)" [user]="opioners.get(opinion.owner_id)!"
            [thought]="opinion"></app-opinion-card>
        </div>
      </div>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input [(ngModel)]="opinion" placeholder="In my opinion..."></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-icon (click)="postComment()" class="send" name="send"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>

  </ng-template>
</ion-modal>