<ion-tabs>
  <!-- Feed -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon mode="md" name="home-outline"></ion-icon>
    </ion-tab-button>

    <!-- Search -->
    <ion-tab-button tab="search" selected="true">
      <ion-icon mode="md" name="search-outline"></ion-icon>
    </ion-tab-button>

    <!-- Post -->
    <ion-tab-button tab="post" selected="true">
      <ion-icon mode="md" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <!-- DMs -->
    <ion-tab-button tab="messaging" selected="true">
      <ion-icon mode="md" name="paper-plane-outline"></ion-icon>
    </ion-tab-button>

    <!-- Profile -->
    <ion-tab-button (click)="openProfile()" [class.tab-selected]="this.router.url.includes(user)">
      <ion-icon mode="md" name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>