<ion-item (click)="openChat()" class="chat unselectable">
  <ion-avatar slot="start">
    <img class="unselectable" [src]="chat.user2.picture" />
  </ion-avatar>
  <ion-label>
    <ion-text class="name multi unselectable">
      {{chat.user2.username}}
    </ion-text>
    <ion-text *ngIf="chat.last_message.content != undefined" class="subtitle multi unselectable">
      {{lastSender}}: {{chat.last_message.content}} <div class="date unselectable">
        {{formatDate(chat.last_message.date)}}</div>
    </ion-text>
  </ion-label>
</ion-item>