<ion-content>

  <p class="welcome_text">Welcome<br>Back</p>
  
  <ion-item counter="true" class="input1">
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)] = "username"></ion-input>
  </ion-item>

  <ion-item counter="true" class="input2">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)] = "password"></ion-input>
  </ion-item>

  <ion-button [disabled]="username == '' || password == ''" (click)="onLogin()" shape="round" class="signin_button">
    <!-- <ion-icon slot="icon-only" name="star"></ion-icon> -->
  </ion-button>


</ion-content>