<ion-content>

  <p class="welcome_text">Welcome<br>Back</p>
  
  <ion-item counter="true" class="input1 inputs">
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)] = "username"></ion-input>
  </ion-item>

  <ion-item counter="true" class="input2 inputs">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)] = "password"></ion-input>
  </ion-item>

  <ion-button [disabled]="username == '' || password == ''" (click)="onLogin()" shape="round" class="signin_button"></ion-button>

  <p class="signin_label">Sign In</p>

  <ion-button (click)="goToRegister()" class="lower_buttons signup_button">
    Sign Up
  </ion-button>

  <ion-button class="lower_buttons forget_button">
    Forgot Password?
  </ion-button>


</ion-content>