<ion-header>
  <ion-toolbar>
    <ion-title class="unselectable">
      Feed
    </ion-title>
    <ion-progress-bar color="secondary" *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content scrollbar="::-webkit-scrollbar {width: 0px;}">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-button fill="clear" class="empty" *ngIf="thoughts.length == 0 && !loading">
    No thoughts yet
    <ion-icon slot="end" name="diamond-outline"></ion-icon>
  </ion-button>
  <ng-container *ngFor="let thought of thoughts">
    <app-card-thought (refresh)="resetData()" [user]="users!.get(thought.owner_id)" [thought]="thought"></app-card-thought>
  </ng-container>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>