.empty {

    text-transform: none;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    // padding-right: 5%;
    // padding-top: 5%;
    // display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    // min-height: 100vh;
}