<ion-content *ngIf="!disabled">

  <!-- Title -->
  <p class="welcome_text">Sign Up</p>

  <!-- Sign in -->
  <ion-button fill="clear" (click)="goToLogin()" class="signin_button">
    Already have an Account?
  </ion-button>

  <!-- Register -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onRegister()" [disabled]="username == '' || email == '' || password == ''">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <p class="signup_label">Sign In</p>

  <!-- Username -->
  <ion-grid class="inputs-grid">
    <ion-row>
      <ion-col>
        <ion-item counter="true" class="inputs">
          <ion-input name="username" [(ngModel)]="username" placeholder="Username"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Email -->
    <ion-row>
      <ion-col>
        <ion-item counter="true" class="inputs">
          <ion-input name="email" [(ngModel)]="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Birthday -->
    <ion-row>
      <ion-col>
        <ion-item counter="true" class="inputs">
          <ion-input name="birthday" type="date" [(ngModel)]="birthday"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Gender -->
    <ion-row>
      <ion-col>
        <ion-list class="inputs">
          <ion-item>
            <ion-select (ionChange)="setGender($event)" interface="popover" [placeholder]="genders[gender!]">
              <ion-select-option class="inputs" *ngFor="let gender of genders" [value]="gender">{{gender}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <!-- Password -->
    <ion-row>
      <ion-col>
        <ion-item counter="true" class="inputs">
          <ion-input name="password" [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Confirm Password -->
    <ion-row>
      <ion-col>
        <ion-item counter="true" class="inputs">
          <ion-input name="confirm" [(ngModel)]="confirm_password" type="password" placeholder="Confirm Password">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>