<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-searchbar class="search" mode="ios" animated="true" (ionChange)="handleChange($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>

  <ion-segment value="default" mode="md" color="secondary" [(ngModel)]="section">
    <ion-segment-button value="default">
      <ion-label class="section_labels">Users</ion-label>
    </ion-segment-button>
    <ion-segment-button value="interests">
      <ion-label class="section_labels">Interests</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="section">
    <ion-list *ngSwitchCase="'default'">
      <app-user-card *ngFor="let user of users" [user]="user"></app-user-card>
    </ion-list>
    <ion-list *ngSwitchCase="'interests'">
      <app-interest-card *ngFor="let interest of interests" [interest]="interest"></app-interest-card>
    </ion-list>




    <ion-button *ngIf="section == 'interests'" class="multi" (click)="request()" color="dark" fill="clear">
      Request new Interest
      <ion-icon slot="end" name="diamond-outline"></ion-icon>
    </ion-button>

  </div>


</ion-content>