ion-content {
    --background: url(../../../../assets/imgs/main-bg0.png) 0 0/100% 100%;
}

.meet {

    background: var(--ion-color-light);
    text-transform: none;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    // padding-right: 5%;
    // padding-top: 5%;
    width: 300px;
    height: 300px;
    // display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}